/* ==========================================================================
   Component: Base
 ============================================================================ */

/**
 * Fix the flawed CSS box model - Yes, IE6's box model is better
 * Browser support: IE8+
 * via: http://paulirish.com/2012/box-sizing-border-box-ftw/
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Set <html> and <body> to inherit the height of the viewport */

html,
body {
  // height: 100%;
  // max-height: 100%;
  min-height: 100%;
}

/* Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove text-decoration
 */

ins,
a {
  text-decoration: none;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

/* Embedded content
   ========================================================================== */

/**
  * 1. Corrects max-width behavior (2.) if padding and border are used
  * 2. Responsiveness: Sets a maxium width relative to the parent and auto scales the height
  * 3. Remove the gap between images and the bottom of their containers
  * remove 2. for Issue #502
  */

img {
  box-sizing: border-box; /* 1 */
  // max-width: 100%; /* 2 */
  // height: auto; /* 2 */
  vertical-align: middle; /* 3 */
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace;
}

/* Forms
   ========================================================================== */

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button {
  line-height: normal;
}

/*
 * Improves consistency of cursor style for clickable elements
 */

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

/**
 * Improve readability and alignment in all browsers.
 */

textarea {
  vertical-align: top;
  resize: vertical;
}

/* Wario Base
   ========================================================================== */

/**
 * `font-size` is set in `html` element to support the `rem` unit for font-sizes
 * NOTE: IE9 & IE10 do not recognize `rem` units when used with the
   `font` shorthand property.
 */

html {
  font-size: 62.5%; // set base font-size to 10px (16px * 62.5), 1rem = 10px
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  //position: relative;
  background: $base-background;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $base-text-color;
  font-size: $global-font-size;
  //.hook-base-body;
}

/**
 * 1. http://usabilitypost.com/2012/11/15/w-optimizelegibility-on-mobile-devices/
 * 2. http://maxvoltar.com/archive/-webkit-font-smoothing
 * NOTE: http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
 * 3. http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 *    http://jaydenseric.com/blog/css-font-smoothing-for-firefox-mac
 */

body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;  /* 1 */
  -webkit-font-smoothing: antialiased; /* 2 */
  -moz-osx-font-smoothing: grayscale;  /* 3 Default: auto */
  -moz-font-feature-settings: 'liga', 'kern';
}

/*Only phones */

@media #{$small-only} {

  /**
   * Break strings if their length exceeds the width of their container
   */
  body {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

/**
 * links
 */

a {
  color: $link-color;
  &:hover,
  &:focus {
    color: $link-hover-color;
    //text-decoration: underline;
  }

  &:focus {
    //.tab-focus();
  }
}
